<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-sdk tools:overrideLibrary="io.flutter.plugins.flutter_plugin_android_lifecycle, io.flutter.plugins.urllauncher, io.flutter.plugins.sharedpreferences" />

    <!-- TV 支持配置 -->
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.type.automotive" android:required="false" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- audio_service 权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- 蓝牙检测权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <application
        android:label="Songloft"
        android:name="${applicationName}"
        android:appCategory="audio"
        android:icon="@mipmap/ic_launcher"
        android:banner="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- TV Launcher intent filter -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <!-- 注册为音乐播放器，使系统「默认音乐应用」可发现本应用 -->
            <intent-filter>
                <action android:name="android.intent.action.MUSIC_PLAYER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- 处理音频文件（Android 15 默认音乐应用识别） -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:mimeType="audio/*"/>
            </intent-filter>
            <!-- 常见音频格式文件关联 -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:pathPattern=".*\\.mp3"/>
                <data android:pathPattern=".*\\.MP3"/>
                <data android:pathPattern=".*\\.flac"/>
                <data android:pathPattern=".*\\.FLAC"/>
                <data android:pathPattern=".*\\.wav"/>
                <data android:pathPattern=".*\\.WAV"/>
                <data android:pathPattern=".*\\.aac"/>
                <data android:pathPattern=".*\\.AAC"/>
                <data android:pathPattern=".*\\.ogg"/>
                <data android:pathPattern=".*\\.OGG"/>
                <data android:pathPattern=".*\\.opus"/>
                <data android:pathPattern=".*\\.OPUS"/>
                <data android:pathPattern=".*\\.m4a"/>
                <data android:pathPattern=".*\\.M4A"/>
                <data android:pathPattern=".*\\.wma"/>
                <data android:pathPattern=".*\\.WMA"/>
                <data android:pathPattern=".*\\.ape"/>
                <data android:pathPattern=".*\\.APE"/>
                <data android:pathPattern=".*\\.dts"/>
                <data android:pathPattern=".*\\.DTS"/>
                <data android:pathPattern=".*\\.ac3"/>
                <data android:pathPattern=".*\\.AC3"/>
            </intent-filter>
            <!-- 音频效果控制面板（部分系统用此识别音乐播放器） -->
            <intent-filter>
                <action android:name="android.media.action.OPEN_AUDIO_EFFECTS_CONTROL_PANEL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!-- 语音搜索播放 -->
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- audio_service 服务 -->
        <service
            android:name="com.ryanheise.audioservice.AudioService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.car.application"
                android:resource="@xml/automotive_app_desc" />
        </service>
        <receiver
            android:name="com.ryanheise.audioservice.MediaButtonReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.MUSIC_PLAYER"/>
        </intent>
        <intent>
            <action android:name="android.media.action.OPEN_AUDIO_EFFECTS_CONTROL_PANEL"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:mimeType="audio/*"/>
        </intent>
        <intent>
            <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
        </intent>
    </queries>
</manifest>
